/* Global */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

:root{
    --white: #fff;
    --base: #000;
    --highlight: #5f5f5f;
    --highlight__2: #a0a0a0;
}

html{
    font-size: 16px;/* 1rem = 16px */
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body{
    font-family: 'Karla', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    min-height: 100dvh;
    width: 60%;
    margin: 0 auto;
}

.content__section{
    padding: 8dvh 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8dvh;
}

.title__section{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
}

.links{
    color: var(--white);
    font-size: 1.25rem;
    display: flex;
    justify-content: start;
}

.link{
    background-color: var(--highlight);
    padding: 0.25rem 1rem;
}

.link--left{
    padding-left: 1.5rem;
    border-radius: 1.125rem 0 0 1.125rem;
}

.link--right{
    padding-right: 1.5rem;
    border-radius: 0 1.125rem 1.125rem 0;
}

.link--single{
    padding: 0.25rem 1.5rem;
    border-radius: 1.125rem;
}

.tags{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag{
    background-color: var(--highlight__2);
    color: var(--base);
    font-size: 0.75rem;
    padding: 0 0.5rem;
    border-radius: 0.75rem;
}

/* Hero */

.hero{
    background-color: var(--white);
}

.nav__hero{
    height: 8vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.misc__hero{
    color: var(--base);
    display: flex;
    justify-content: auto;
    align-items: center;
    gap: 1.75rem;
    margin: 0 1.75rem;
}

.social__link{
    font-size: 2rem;
}

.light__mode{
    font-size: 2rem;
}

.main__hero{
    min-height: 92vh;
    display: flex;
    justify-items: center;
}

.content__main{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation{
    display: grid;
    grid-template-rows: auto;
    row-gap: 1rem;
}

.title__main{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.25rem;
    font-weight: 700;
}

.name__highlight{
    color: var(--base);
}

.point{
    color: var(--highlight__2);
}

/* Portfolio */

.portfolio{
    background-color: var(--base);
    color: var(--white);
}

.portfolio .container{
    width: 60%;
}

.project__container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8vh;
}

.project{
    display: flex;
}

.project--modifier{
    flex-flow: row-reverse;
}

.card{
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title__project{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.description__project{
    font-size: 1rem;
    text-align: center;
}

.skills__project{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.skill__icon{
    font-size: 2rem;
}

.links__project{
    display: flex;
    justify-content: start;
}

.demo{
    background-color: var(--highlight);
    width: 60%;
    aspect-ratio: 16/9;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

/* Blog */
.blog{
    background-color: var(--white);
    color: var(--base);
}

.blog .content__section{
    align-items: center;
}

.entries__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.entry{
    background-color: var(--highlight);
    color: var(--base);
    height: 30rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.entry__img{
    width: 100%;
    aspect-ratio: 3/2;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.text__entry{
    padding: 0 1rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 0.5rem;
}

.entry .tag{
    width: fit-content;
}

.entry__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
}

.description__entry{
    font-size: 0.875rem;
}

.entry__footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
    border-top: 2px solid rgba(0, 0, 0, 0.25);
}

.date{
    font-size: 0.625rem;
    font-style: italic;
    padding: 0 1rem;
}

/* About */

.about{
    background-color: var(--base);
    color: var(--white);
}

.about .content__section{
    justify-content: space-between;
    gap: 0;
    position: relative;
}

.wrap{          
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.identification{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.picture{
    content: '';
    background-image: url('/img/pic_me.jpg');
    background-size: cover;
    width: 15rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.text__identification{
    display: flex;
    flex-direction: column;
    align-items: inherit;
    gap: 1rem;
}

.name{
    font-size: 4rem;
    font-weight: 500;
}

.description{
    font-size: 1.125rem;
    font-weight: 300;
    text-align: center;
}

.skills__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skill__view{
    width: 100%;
    padding: 0.125rem 0;
    background-color: var(--base);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__presentation{
    content: '';
    background-color: var(--highlight);
    width: 100%;
    height: calc(100% - 16dvh - 2rem - 0.125rem);
    position: absolute;
    top: 8dvh;
    left: 0;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    padding: 3.5rem;
}

.skill__view:hover{
    background-color: var(--highlight);
}

.skill__view:hover .skills__presentation{
    display: grid;
}

.skill__card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skill__card .skill__icon{
    font-size: 4rem;
}